
header{
 border: 2px blue;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  flex-direction: column;
  background-color: #2273c4
   
}





nav {
  width: 100%;
}


h1 {
  margin: 0 0 10px 0;
  color: white;
  font-size: 2rem;
}



.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1rem;
    text-align: center;
}

nav {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: blueviolet;
}

